.row{
    border: 1px solid black;
    width: 101%;
    height: 100px;
    text-align: center;
    align-items: center;
    background-color: lightgrey;
}

.row .col-md-8{
    background-color: green;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100%;
    
    
}

.row .col-md-4{
    background-color: yellow;
    text-align: center;
    align-items: center;
 justify-content: center;
    display: flex;
    height: 100%;
}

.row .col-md-6{
    background-color: blue;
    text-align: center;
    align-items: center;
 justify-content: center;
    display: flex;
    height: 100%;
}

.row .col-md-3{
    background-color: purple;
    text-align: center;
    align-items: center;
 justify-content: center;
    display: flex;
    height: 100%;
}